[Unit]
Description=Schedule pruning of mastodon media
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
#Run once per week
OnCalendar=Mon
#File describing job to execute
Unit=mastodon_prune_media.service

[Install]
WantedBy=timers.target
