[Unit]
Description=Remove orphaned media on mastodon

[Service]
Type=simple
ExecStart=/home/mastodon/.rbenv/shims/bundle exec bin/tootctl media remove-orphans
User=mastodon
Group=mastodon
WorkingDirectory=/home/mastodon/live
Environment=RAILS_ENV=production

[Install]
WantedBy=multi-user.target
